/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 4, 2024, 4:51:24 PM
    Author     : ADMIN
*/

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}

.frame-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(33, 29, 29, 0.36);
    text-align: center;
    font-family: 'Inria Serif', serif;
}

.logo-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.gourment-login {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng chữ */
    font-weight: bold; /* In đậm chữ */
}

.background img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input,
.select-role select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: -21px;
}

.login-button {
    background-color: #282e52;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #d12d22;
}

.forgot-password {
    margin-top: 20px;
}

.forgot-password a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #282e52;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
